.sgCell {
    display: inline-block;
    height: 100%;
    border-left: dotted silver 1px;
    margin-left: -1px;
}

.sgArrow {
    position: absolute;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
}

.sgArrowContents {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1em 0.5em;
}

.sgCellLayer {
    background: #FFFFFF\9;/*IE8 hack*/
    filter:progid:DXImageTransform.Microsoft.Alpha(Style=3,Opacity=0);
}
